<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
		    <div class="aboutText">
			<h2 class="aboutTitle">What is GO GET IT?</h2>
            <p>It's not a secret tha inventory management is a of  the supply chain management that allows any commercial establishment
                to have the right products at the right time to be able to give to the customer a consistent service. 
            When done effectively, businesses reduce the costs of carrying excess inventory 
            while maximizing sales. Good inventory management can help you track your inventory 
            in real time to streamline this process.
            
            <p>By effectively managing your inventory you can have the right products in the 
            right quantity on hand and avoid products being out of stock and funds being tied 
            up in excess stock. 
		    </div>
        </div> 

        <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <hr>
        <br>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <img src="assets/images/Gogetitlogo.jpg" width="100%">
        </div>
    </div>

    </div> 
</div> 