body, html {
  height: 100%;
}


.bg {

    background-image:  url("../styles/img/BB-ROC-2.jpg"); 
    z-index: -1;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    
  }
  .member_bg {
    
    background-image:  url("../styles/img/main_grocery-store-min-compressor.jpg"); 
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
   
    margin: auto;
  }
  #tablescreen{
      
      
      
      
      
    margin: 0 auto;
   
    
  }
  #tableBox {
    margin: 0 auto;
    
    padding: 4%;
    margin-top: 5%;
  }
  
  #splashscreen{
      
      
      
      
      
    margin: 0 auto;
   
    
  }
  #splashBox {
    margin: 0 auto;
    
    padding: 4%;
    margin-top: 5%;
  }

  #footer{
    margin-bottom: 0px;
    margin-top: 0px;
  }