body  {
  height: 100%;
}

#cardsize {
  width: 40rem;
  margin: auto;
}
.card-body {
  margin: 0 auto;
}
.container-fluid {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.bg {

    background-image:  url("../styles/img/BB-ROC-2.jpg"); 
    z-index: -1;
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    
  }

  .d-inline-block{
    width: 30px;
     height: 30px;
  }
  .member_bg  {
    
    background-image:  url("../styles/img/main_grocery-store-min-compressor.jpg"); 
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
   
    margin: auto;
  }
  #tablescreen{
      
      
      
      
      
    margin: 0 auto;
   
    
  }
  #tableBox {
    margin: 0 auto;
    
    padding: 4%;
    margin-top: 5%;
  }
  


  #splashscreen{
      
      
      
      
      
    margin: 0 auto;
   
    
  }
  #splashBox {
    margin: 0 auto;
    
    padding: 4%;
    margin-top: 5%;
  }

  #footer{
    margin-bottom: 0px;
    margin-top: 0px;
  }


  @media screen and (max-width: 980px){

    #cardsize{
      width: 30rem;
    }




  }

  @media screen and (max-width: 768px){
    #cardsize{
      width: auto;
    }
  }
  @media screen and (max-width: 640px){
     .navbar-brand {
      color: #fff;
      font-size: 40px;
       margin: auto;
    
  }

    #cardsize{
      width: auto;
    }
    .d-inline-block{
      width: 60px;
       height: 60px;
    }

  }